
{% extends "layout.html" %}
{%block title%}ReptiCare{%endblock%}


{%block body%}
        <h3>this page will eventually contain all relivent info for what the ap is about</h3>
        <h3>once logged in user is redirected to a dashboard showcasing created repile profiles in a list</h3>
        <h3>and the ability to create more reptile profiles</h3>
        <h3>clicking on a listed profile should open a page 
            with full descriptions and info about the reptile and its terrarium and the ability to add or change info
        </h3>
{%endblock%}