{%extends "layout.html"%}
{%load static%}

{%block title%}Dashboard | {{request.user.username}}{%endblock%}
{%block head_extra%}
    
{%endblock%}

{%block body%}

<div style="text-align:center;">
    <h1>Dashboard</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="btn-group justify-content-center" >
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#Reptiles">Reptiles</button>
        
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#Terrariums">Terrariums</button>
        
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#Feeders">Feeders</button>
    </div> 
</div>

<div class="offcanvas offcanvas-start" id="Reptiles">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Reptiles</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>this space will house the list of reptiles</p>
    <p>maybe clicking on the reptile "block" will create a popover allowing to add info</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" id="Terrariums">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Terrariums</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>this space will house the list of Terrariums</p>
    <p>maybe clicking on the reptile "block" will create a popover allowing to add info</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" id="Feeders">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Feeders</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>this space will house the list of Feeders</p>
    <p>maybe clicking on the reptile "block" will create a popover allowing to add info</p>
  </div>
</div>

    {%block scripts%}
    
    {%endblock%}
{%endblock%}